/* FONTS */

//$font-size-phone-main: 20px;
//$font-size-phone-header-small: 20px;
//$font-size-phone-table-header: 20px;
//
//$font-size-desktop-main: 20px;
//$font-size-desktop-header-small: 20px;
//$font-size-desktop-table-header: 20px;


/* COLORS */
$font-color-main: #525252;
$yellow: #fff700;
$gray: #808080;
